WLP_SKIP_MAXPERMSIZE=true
WLP_SKIP_MAXPERMSIZE=true
app=IVA
UsuarioDev=79a39674-d50c-414c-b646-23cd621287c9
PasswordDev=************
WorkspaceIdDev=cf6a7236-f9d5-4b31-a10b-408ec650347d
EndpointDev=https://gateway-fra.watsonplatform.net/conversation/api/v1/workspaces/
LlamadaDev=message?version=2017-05-26
ProxyDev=proxyintwww.aeat
PuertoDev=8883
NumIntentosDev=20
urlGSADev=https://www.agenciatributaria.gob.es/search?client=Sede_es_es&site=SII_Gestion&output=xml_no_dtd&as_oq=
urlWexDev=http://10.30.52.221:8393/api/v10/
urlWexNodosDev=search?collection=col_25435&language=es_ES&output=application/json&query=
urlWexAnalysisDev=analysis/text?collection=col_60034&language=es_ES&output=application/json&text=
urlWexSearchDev=search?collection=col_60034&language=es_ES&output=application/json&query=
umbralWexDev=90
urlAsistenteDev=avaeat/AVIVADev.nsf
urlConfiguracionDev=avaeat/AVConfigIVA.nsf
urlHistoricoRecienteDev=avaeat/HistoricoRecientesIVA.nsf
urlHistoricoCompactadasDev=avaeat/HistoricoCompactadasIVA.nsf
emailSoporteDev="servidor":"DOMPRODA.AEAT/AEAT/ES","ruta":"mail02/IGM00998.nsf"

UsuarioTranslator=5c20ea37-d7c4-4951-a0f1-239e563cf2e5
PasswordTranslator=************
EndpointTranslator=https://gateway-fra.watsonplatform.net/language-translator/api/v2/
LlamadaTranslate=translate
LlamadaIdentify=identify
ActivarTraduccion=Sí
CategoriasDev=Comercio exterior,Operaciones inmobiliarias,Resto de operaciones interiores,Modificación de bases y rectificación de cuotas,Deducciones y devoluciones,Regímenes especiales:Régimen simplificado:Régimen especial de agricultura ganadería y pesca:Recargo de equivalencia,Modelos de declaración,Facturación y registro
CategoriasAsistenteDev=Comercio exterior,Operaciones inmobiliarias,Resto de operaciones interiores,Modificación de bases y rectificación de cuotas,Deducciones y devoluciones,Regímenes especiales:Régimen simplificado:Régimen especial de agricultura ganadería y pesca:Recargo de equivalencia,Modelos de declaración,Facturación y registro
